<html>
<head>
    <title>Simon's Python Obfuscator</title>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
</head>
<body>
    <h1>Simon's Python Obfuscator</h1>
    <p>
        Paste some python code (currently Python 2.x only) below, then hit "Obfuscate!" <br />
        <form method="post" action="/">
            <textarea id="src" name="original" rows="10" cols="80">{{ original }}</textarea><br />
            <input id="submitCode" type="submit" value="Obfuscate!" /><input type="reset" value="clear"><br />
            <textarea rows="10" cols="80">{{ obfuscated }}</textarea>
        </form>
    </p>
    {% if obfuscated != "" %}
    <p>Compression Ratio: {{ str(obfLen)  + " / " + str(originalLen) + " = " + str(float(obfLen) / float(originalLen)) }}</p>
    <p><a href="http://ideone.com" target="_blank">Run the code on ideone.com!</a></p>
    <p>Check out and fork the code at <a href="https://github.com/lhr0909/PythonObfuscator" target="_blank">GitHub</a>!</p>
    <p>Wrote this original prototype when I was drunk, so I was pretty surprised that it worked for simple cases. Now it should work for all cases.</p>
    <p>If your code will not run after obfuscating, please help me improve by <a href="https://github.com/lhr0909/PythonObfuscator/issues" target="_blank">submitting that original script onto my GitHub issue tracker</a>. All the help is appreciated.</p>
    {% end %}
    <p>Version: v0.3</p>
    <p>Author: Simon Liang</p>
    <script>
        $(document).ready(function(){
            window.data = new Firebase("https://blistering-fire-1928.firebaseio.com/src");
            $("#submitCode").click(function(){
                window.data.push({
                    timestamp: new Date().getTime(),
                    src: $("#src").val()
                });
            });
        });
    </script>
</body>
</html>
